[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/jwt-tx-builder"]
	path = lib/jwt-tx-builder
	url = https://github.com/zkemail/jwt-tx-builder
[submodule "lib/circomlib"]
	path = lib/circomlib
	url = https://github.com/iden3/circomlib
